backcall==0.1.0
bcrypt==3.1.4
cffi==1.11.5
colorama==0.3.9
decorator==4.3.0
Django==2.1
django-debug-toolbar==1.9.1
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
parso==0.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
pycparser==2.18
Pygments==2.2.0
pytz==2018.5
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
traitlets==4.3.2
wcwidth==0.1.7
