<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Contrigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/community.css' %}">
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Community</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'offer_help' %}">Offer Help</a></li>
                    <li><a href="{% url 'request_help' %}">Request Help</a></li>
                </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Progress<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'show_record' %}">My Records</a></li>
                    <li><a href="{% url 'show_schedule' %}">Upcoming Schedules</a></li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
            </ul>
        </div>
    </nav>
    <div id="welcome" class="container-fluid bg-1 text-center">
        <h3>Welcome to Contrigo's Community</h3>
        <h5>See how our community has been improved by your group of tribe</h5>
    </div>
    <!-- Friend's recent activities -->
    <br><br>
    <div class="container">
        <h2>Nested Media Objects</h2>
        <p>Media objects can also be nested (a media object inside a media object):</p><br>
    <div class="media">
        <div class="media-left">
            <img src="img_avatar1.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
        <!-- Nested media object -->
        <div class="media">
            <div class="media-left">
                <img src="img_avatar2.png" class="media-object" style="width:45px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <!-- Nested media object -->
            <div class="media">
                <div class="media-left">
                    <img src="img_avatar3.png" class="media-object" style="width:45px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            
            </div>
        </div>
        </div>
    </div>
    </div>


