<!DOCTYPE html>
<html>
  <head>
    <title>Offer Help</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 93.5%;
        width: 60%;
        z-index: 0;
        display: inline-block;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
       	background: #37c4cc;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #FFFFFF, #37c4cc, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #FFFFFF, #37c4cc, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .navbar .nav-item{
        z-index: 2;
      }
      .container{
        width: 40%;
        height: 100%;
        display: inline-block;
        float: right;
      }
      .card {
      	width: 100%;
      	border: 1px solid;
	    padding: 10px;
	    box-shadow: 3px 3px 8px black;
	    margin-top: 20px;
      }
      .logout{
      	color: #6c757d;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ContriGo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link " href="">Request Help</a>
          </li>
            <a class="nav-link btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Progress
            </a>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </li>
        </ul>
        <a href="" class="logout">Logout</a>
      </div>
    </nav>
    <div id="map"></div>
    <div class="container">
    	<div class="card" style="width: 100%;">
		  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
		  <div class="card-body">
		    <h5 class="card-title">Job Description</h5>
		    <p class="card-text">All information about the job and what it entails will be here.</p>
		    <table class="table table-hover">
			  <tbody>
			    <tr>
			      <th scope="row">Name:</th>
			      <td colspan="3">Mark Otto</td>
			    </tr>
			    <tr>
			      <th scope="row">Address:</th>
			      <td colspan="3">10777 Main St. Bellevue, WA</td>
			    </tr>
			    <tr>
			      <th scope="row">Event Time:</th>
			      <td colspan="3">8:00 AM - 9:00PM</td>
			    </tr>
			  </tbody>
			</table>
		    <a href="#" class="btn btn-primary">Join</a>
		  </div>
		</div>
		<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">Contact</h5>
		    <table class="table table-hover">
			  <tbody>
			  	<tr>
			      <th scope="row">Call / Text:</th>
			      <td colspan="3">(916)551-2867</td>
			    </tr>
			    <tr>
			      <th scope="row">Email:</th>
			      <td>
			      	<form>
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					  </div>
					  <div class="form-group">
					    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Questions"></textarea>
					  </div>
					</form>
				</td>
			    </tr>
			  </tbody>
			</table>
		    <a href="#" class="btn btn-primary">Submit Email</a>
		  </div>
		</div>
    </div>
   <!--  <div class="container">
      <div id="formatted-address"></div>
      <div id="address-components"></div>
      <div id="geometry"></div>
    </div> -->
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow, options;
      function initMap() 
      {
        options = 
        {
          center: {lat: 38.5816, lng: -122.0000},
          zoom: 6,
          styles: [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "administrative.locality",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#378b90"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#31b9c1"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#31b9c1"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#31b9c1"
            }
        ]
    }
]

        }
        // New map
        map = new google.maps.Map(document.getElementById('map'), options);
        infoWindow = new google.maps.InfoWindow;

        //Listen for click on the map
        google.maps.event.addListener(map, 'onhover', function(event){
          //Add marker
          addMarker({coords:event.latLng, animation: google.maps.Animation.DROP});


        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div class="form-group">'+
            '<input type:"text" name="title">'+
            '<textarea name="desc"></textarea>' +
            '<input type:"date" name="datefrom">'+
            '<input type:"date" name="dateto">'+
            '<input type:"time" name="time">'+
            '<button type:"submit" name="submit">Create</button>'+
            '</div>'+
            '</div>';

        var markers = [

          { 
            coords:{lat: 38.5761, lng: -121.4934},
            iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
            content: contentString
          },
          {
            coords:{lat: 38.7907, lng: -121.2358},
            content: "Rocklin, CA"
          }
        ]

        for (var i = 0; i < markers.length; i++){
          addMarker(markers[i]);
        }
        
        function addMarker(props)
        {
          console.log("function addMarker");
          var marker = new google.maps.Marker({
            position: props.coords,
            map:map,
            icon: props.iconImage,
            animation: props.animation
          });
          if(props.iconImage)
          {
            marker.setIcon(props.iconImage);
          }
          console.log(infoWindow)
          if(props.content)
          {
            var infoWindow = new google.maps.InfoWindow({
              content: props.content
            });
            console.log("new Info")
            marker.addListener('click', function(){
              infoWindow.open(map, marker);
            });
          }
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIIzDzc1Tm1RUirTx-Wt8qWhwOf0Z91_0&callback=initMap">
    </script>

    <script>
      //call GeoCode
     /* geocode();*/

      //get location form
      var locationForm = document.getElementById('location-form');
      
      //listen for submit

      locationForm.addEventListener('submit', geocode);

      function geocode(e){

        e.preventDefault();

        var location = "Sacramento, CA";
        console.log(location)

        axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
          params: {
            address: location,
            key:'AIzaSyAIIzDzc1Tm1RUirTx-Wt8qWhwOf0Z91_0'
          }
        })
        .then(function(response){

          var formattedAddress = response.data.results[0].formatted_address;
          console.log(formattedAddress)
          var formattedAddressOutput = `
            <ul class="list-group">
              <li class="list-group-item">${formattedAddress}</li>
            </ul>
          `;
          

        /*  var addressComponents = response.data.results[0].address_components;
          var addressComponentsOutput = '<ul class="list-group">';
          for(var i=0; i < addressComponents.length;i++){

            addressComponents += `
              <li 
              class="list-group-item">${addressComponents[i].types[0]} ${addressComponents[i].long_name}</li>


            `;
          }*/
          /*addressComponentsOutput += '</ul>';*/
          //Geometry
          var lat = response.data.results[0].geometry.location.lat;
          console.log("lat")
          var lng = response.data.results[0].geometry.location.lng;
          console.log("lng")
          var geometryOutput = `
            <ul class="list-group">
              <li class="list-group-item">${lat}</li>
              <li class="list-group-item">${lng}</li>
            </ul>
          `;










          /*document.getElementById('formatted-address').innerHTML = formattedAddressOutput;
          /*document.getElementById('address-components').innerHTML = addressComponentsOutput;*/
          /*document.getElementById('geometry').innerHTML = geometryOutput;
          console.log(formattedAddressOutput);
          console.log(addressComponentsOutput);
          console.log(geometryOutput);*/
        })

        .catch(function(error){
          console.log(error);
        });

      }
    </script>
  </body>
</html>