.carousel-inner img {
    -webkit-filter: grayscale(20%);
    filter: grayscale(30%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-inner .item {
    height: 100vh;
}

.carousel-caption {
    padding-bottom: 250px;
}

.carousel-caption h1 {
    color: #fff !important;
    font-size: 50px;
    text-transform: uppercase;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}